.tdOldDiv1{color: #2351B3;font-weight: bold;width: 115px;float: left;}
.tdOldDiv2{width: 325px;float: left;}
.attachSpan{color: #082ADA;cursor: pointer;text-decoration: none;font-weight: normal;}
.attachSpan:hover{text-decoration: underline;font-weight: bold;}
.proseditCss{color: #082ADA;cursor: pointer;text-decoration: none;font-weight: normal;text-align: center;}
.proseditCss:hover{text-decoration: underline;font-weight: bold;}
.btncustdel{cursor: default;background-color: #FDBC9D;}
.btncustdel:hover{cursor: pointer;background-color: #FF0000;}
.leadCountCSS{width: 200px;background-color: #E1EE9E;list-style-position: inside;padding: 0;margin: 0;}
.leadnamecss{font-weight: bold;padding-right: 10px;}
.tdSingleRow{background-color:#8CA289;color:#fff;font-weight:bold;}
.webSingleurlCss{width: 200px;text-decoration: underline;color: #7CCCF8;cursor: pointer;}
.revPrevCon{float:left;width:245px;background-color: #047568;color: #fff;margin-right:5px;}
.histhCss{vertical-align: top;text-align: right;padding-right: 10px;width:30px; border:1px solid black;}
.hislisrhead{background-color: #2D920D;color: #fff;text-align: center;border-color:#fff;}
.morelinkcss{width: 900px;float: left;}
.morelnkmainCss{color: #0810BD;cursor:pointer;text-align: center;font-weight: bold;margin-left: 350px;}
.feedbcakhead{background-color: #098F89;color: #fff;text-align: center;border-color:#fff;}
.morefeedbackCss{color: #0810BD;cursor:pointer;text-align: center;font-weight: bold;}
.closefeedbackBox{float: left;width: 50px;text-align: center;cursor:pointer;color: #9AF3E1;font-weight: bold;}
.morelnkfeedbackCss{color: #00F;cursor:pointer;text-align: center;font-weight: bold;margin-left: 350px;}
.norecords{font-weight: bold;font-size: 15px;width: 690px;float: left;height: 100px;text-align: center;padding-top: 50px;}
.leadhistorymore{width: 30px;color: #00F;cursor: pointer;text-decoration: underline;}
.mailDaysCss{font-weight:bold;color:#000;}
.updatemaildaysCss{font-weight:bold;color:#C705D8;}
.supplier{color: #00F;cursor: pointer;text-decoration: underline;}
.LeadStatus{color: #00F;cursor: pointer;text-decoration: underline;}