.jquerycssmenu{font: bold 12px Verdana;margin-left: 5px;margin-right: 5px;-webkit-border-radius: 8px;padding-left: 5px;background-color: #335599;padding-top: 2px;}
.jquerycssmenu ul{margin: 0px 2px;padding: 0;list-style-type: none;}
/*Top level list items*/
.jquerycssmenu ul li{position: relative;display: inline;float: left;border-right: 2px solid #a0dad5;margin-bottom: 2px;}
/*Top level menu link items style*/
.jquerycssmenu ul li a{display: block;background-color: #335599;padding: 3px 3px 3px 5px;margin-right: 5px;color: #ffffff;text-decoration: none;margin-bottom: 2px;border-radius:5px;margin-left: 5px;}
.jquerycssmenu ul li a:hover{background-color: #b8b6ff;color: #fff;border: 1px solid #c30b0b;}
/*1st sub level menu*/
.jquerycssmenu ul li ul{position: absolute;left: 0;display: block;visibility: hidden;}
/*Sub level menu list items (undo style from Top level List Items)*/
.jquerycssmenu ul li ul li{display: list-item;float: none;z-index: 1000;margin: 1px;border-right: 0px solid #000000;}
/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.jquerycssmenu ul li ul li ul{top: 0;}
/* Sub level menu links style */
.jquerycssmenu ul li ul li a{font: normal 12px Verdana;width: 140px;background-color: #335599;color: white;padding: 4px 2px 4px 6px;margin: 0;border-top-width: 0;border-bottom: 1px solid black;}
.jquerycssmenu ul li ul li a:hover{background-color: #b8b6ff;color: #fff;border: 1px solid #c30b0b;}
/* ######### CSS classes applied to down and right arrow images  ######### */
.downarrowclass{position: absolute;top: 7px;right: 5px;cursor: pointer;}
.rightarrowclass{position: absolute;top: 5px;right: 5px;cursor: pointer;}
/*-------------------SITE--------------------*/